@keyframes move-to-right {
	from{left:-60px;opacity:0;}
	to{left:0;opacity:1;}
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    grid-auto-rows: 80px 1fr;
    /* grid-template-columns:  */
    height:100vh;
    background-image: url('pexels-gradienta-7130543.jpg');
    background-size: cover;
    color: #0b0742;
    justify-content: center;
    font-size: 22px;
    font-family: 'Oswald', sans-serif;
}
.holder {
    grid-column: 2 / 3;
    height: 70vh;
    align-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.entry{
    display: none;
    position: relative;
}
.form, .entry {
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
	border-radius: 10px;
    padding: 40px;
    width: 47%;
}
.show {
    display: block;
    animation: move-to-right 2s ease-in-out backwards;
}
.backBtn {
    display: none;
}

@media (max-width: 768px) {
    #app {
        perspective: 1400px;
    }
    .holder {
        position: relative;
        transition: 2s;
        transform-style: preserve-3d;
    }
    .flip {
        transform: rotateY(180deg);
    }
    .form, .entry {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
    }
    .form {
        z-index: 2;
    }
    .entry {
        display: block;
        z-index: 1;
        transform: rotateY(180deg);
    }
    .backBtn {
        display: block;
        position: absolute;
        left: 50%;
        bottom: 10%;
        transform: translate(-50%, -50%);
        width: 150px;
        height: 55px;
        padding: 10px;
        background: #0b0742;
        color: #FFF;
        font-size: 20px;
        text-align: center;
        letter-spacing: 1px;
        border-radius: 10px;
        box-shadow: 2px 4px 5px #444;
        cursor: pointer;
    }
}

#entryHolder div{
    margin-bottom: 15px;
}

#entryHolder span {
    margin-left: 15px;
}

.headline {
    grid-column: 2 / span 2;
    display: flex;
    align-items: center;
    font-size: 28px;
}
.title{
    margin-bottom: 30px;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
}

#zip, .myInput {
    width: 100%;
    height: 60px;
	padding: 10px 0;
    font-family: 'Oswald', sans-serif;
	font-size: 16px;
	color: #FFF;
	letter-spacing: 1px;
	margin-bottom: 35px;
	border: none;
	border-bottom: 1px solid #FFF;
	outline: none;
	background: transparent;
}

button{
    width: 200px;
    height: 70px;
    background: #0b0742;
    color: #FFF;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 1px;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 4px 5px #444;
    cursor: pointer;
}
h1{
    font-size: 36px;
}

.myInput {
    resize: none;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #FFF; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #FFF; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #FFF; 
    font-family: 'Oswald', sans-serif;

} 